
h1{
    color: #DB9140;
    font-family: 'Philosopher', sans-serif;
    font-size: 6.25rem;
}

h2{
    color: #DB9140;
    font-family: 'Philosopher', sans-serif;
    font-size: 3.5rem;
}

h3{
    color: white;
    font-family: 'Philosopher', sans-serif;
    font-size: 3rem;
}

h4{
    color: white;
    font-family: 'Philosopher', sans-serif;
    font-size: 2rem;
}

p {
    color: white;
    font-family: 'Philosopher', sans-serif;
    
}

.myp {
    padding: 40px;
}

h2:hover{
    font-size: 3.6rem;
    color: white;
}

.btn-1 {
    color: white;
    border: 2px solid #DB9140;
    font-family: 'Philosopher', sans-serif;
    width: 166px;
}

.btn-1:hover {
    background-color: #DB9140;
    border: 2px solid #DB9140;
}


.bghome {
    background-image: url("./img/bgindex.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1E1919;
}

.bgmenu {
    background-image: url("./img/bgmenu.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1E1919;
}

.bgsimple {
    background-image: url("./img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1E1919;
}

.mycontainer {
    height: 500px;
}

.mytextc {
    width: 900px;
}


.pc {
    text-align: center;
}

.h3c {
    text-align: center;
}
.myimg {
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 24px;
}

.center {
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .bghome {
        background-color: #1E1919;
        background-image: url("./img/bgmobile.png");
    }
    .bgmenu {
        background-image: url("./img/bgmobile.png");
        background-color: #1E1919;
    }
    h1{
        color: #DB9140;
        font-family: 'Philosopher', sans-serif;
        font-size: 5rem;
        text-align: center;
    }

    .mycontainer {
        height: 650px;
    }

    p {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .justifymobile {
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 640px) {

    .justifymobile {
        align-content: center;
        justify-content: center;
    }

    .mycontainer {
        height: 500px;
    }

    .mytextc {
        width: 100%;
    }

    .btn-1 {
       width: 100%;
    }
}

@media (max-height: 640px) {

    .justifymobile {
        align-content: center;
        justify-content: center;
    }

    .mycontainer {
        height: 100%;
    }
}

.mynav {
    font-family: 'Philosopher', sans-serif;
}
